.project-list {
  height: 100vh;
  width: 100vw;
  background: #228b22;
  color: white;
  padding-top: 100px;
}

.add-project-button {
  background-image: url('../../assets/wood.jpg');
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  text-decoration: none;
}

.drag-handle {
  display: inline-flex;
  background-color: purple;
  color: white;
  padding: 8px;
  border-radius: 4px;
  cursor: move;
}

.edit-button {
  background-color: white;
  color: #228b22;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.project-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
}
