body {
position: absolute;
left: 0px;
right: 0px;
padding-top: 15vh; /* Replace 15vh with the height of your Navbar */
}

.navbar {
  height: 18vh;
  background-image: url('../../assets/wood.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar-container {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 9999;
}


.navbar-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 11vh;
  left: 0;
  right: 0;
  font-size: 2em;
}

.navbar-button {
	padding-left: 1em;
	padding-right: 1em;
  color: white;
}

.logo {
  position: absolute;
  left: 0;
  top: 0vh;
  height: 15vh;
}

.title {
  font-weight: bold;
  color: white;
  font-size: 2em;
  padding-bottom: 1em;
}

.pir {
	max-height: 20vh;
}

.logout {
	position: absolute;
	right: 2vw;
	top: 2vh;
  height: 5vw;
  width: 5vw;
}
