body {
position: absolute;
left: 0px;
right: 0px;
padding-top: 15vh; /* Replace 15vh with the height of your Navbar */
}

.navbar {
  height: 18vh;
  background-image: url('../../assets/wood.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar-container {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 999;
}


.navbar-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 11vh;
  left: 0;
  right: 0;
  font-size: 2rem;
}

.navbar-button {
	padding-left: 1em;
	padding-right: 1em;
  color: white;
}

.logo {
  position: absolute;
  left: 0;
  top: 0vh;
  height: 15vh;
}

.title {
  font-weight: bold;
  color: white;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.pir {
	max-height: 20vh;
}

.logout {
	position: absolute;
	right: 2vw;
	top: 2vh;
  height: 7vw; /* increased height */
  width: 7vw; /* increased width */
}

@media (max-width: 767px) {
  .logout {
    height: 10vw; /* increased height for smaller screens */
    width: 10vw; /* increased width for smaller screens */
  }
}
