body {
  background-color: #228b22;
  margin: 0;
}

.add-project {
  padding-top: 130vh;
  background-color: #228b22;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 66vw;
  margin: 0 auto; /* added */
  position: absolute; /* added */
  left: 0; /* added */
  right: 0; /* added */
  top: 50%; /* added */
  transform: translateY(-50%); /* added */
}

.delete-stage {
  background-color: transparent;
  float: right;
  color: red;
   position: absolute;
   top: -2vh;
   right: 0;
   color: red;
   font-size: 2em;
}

.add-project input[type="text"],
.add-project input[type="number"] {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  display: block;
  margin: 10px auto;
  background-color: black;
  color: white;
}

.add-project input[type="number"] {
  width: 20%;
}

.stage {
border: 4px dotted black;
padding: 20px;
margin-top: 20px;
position: relative;
}

label {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

label[for="status"],
label[for="stages"] {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto;
}

.radio-container label {
  margin-right: 10px;
  font-size: 16px;
}

input[type="radio"] {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  background-image: url('../../assets/wood.jpg');
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 20px auto;
  display: block;
}

